.FormRegister {
	height: 85vh;
	width: 100vw;
	padding-top: 15vh;
}
.FormRegister button {
	background-color: #ff006e;
	color: white;
	width: 50vw;
	min-width: 40vmax;
	height: 12vh;
	min-height: 2vmin;
	text-align: center;
	vertical-align: middle;
	border: 0.1em solid white;
	font-size: 2em;
	margin-top: 1em;
	border-radius: 0.9em;
	font-weight: bold;
}
.FormRegister div {
	padding-top: 1em;
}
