.EnabledPlayButton {
	background-color: #ffffff;
	color: #ffffff;
	border-color: #ffffff;
	width: 33vw;
	height: 20vh;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #fb5607;
	font-size: 5em;
}

.DisabledPlayButton {
	background-color: #ffffff;
	color: #fb5607;
	border-color: #ffffff;
	width: 33vw;
	height: 20vh;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #fb5607;
	font-size: 5em;
	font-weight: bold;
}
