.PlayTable {
	height: 60vh;
	width: 100vw;
	border-collapse: collapse;
	background-color: #fb5607;
	border: none;
}
.PlayTable tr {
	margin: 0;
	padding: 0;
	border: none;
}
.PlayTable td {
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
}
